services:
   mysql:
     image: mysql:8.3.0
     container_name: mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: root
       MYSQL_DATABASE: ticketing
     ports:
       - "3303:3306"
     volumes:
       - /docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
       - db-data:/var/lib/mysql
       - db-data:/var/log/mysql

   zookeeper:
     image: confluentinc/cp-zookeeper:7.5.0
     hostname: zookeeper
     container_name: zookeeper
     ports:
       - "2181:2181"
     environment:
        ZOOKEEPER_CLIENT_PORT: 2181
        ZOOKEEPER_TICK_TIME: 3000
        ZOOKEEPER_HEAP_OPTS: "-Xms128m -Xmx256m"
     deploy:
       resources:
         limits:
           cpus: "0.50"
           memory: 384M
   kafka-broker:
      image: confluentinc/cp-kafka:7.5.0
      container_name: kafka-broker
      ports:
        - "9092:9092"
        - "29092:29092"
      depends_on:
        - zookeeper
      environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker:29092, PLAINTEXT_HOST://localhost:9092
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_HEAP_OPTS: "-Xms256m -Xmx512m"
      deploy:
        resources:
          limits:
            cpus: "1.0"
            memory: 1G
   kafka-ui:
       container_name: kafka_ui
       image: provectuslabs/kafka-ui:latest
       ports:
         - "8084:8080"
       depends_on:
         - kafka-broker
       environment:
         KAFKA_CLUSTER_NAME: local
         KAFKA_CLUSTER_BOOTSTRAPSERVERS: kafka-broker:29092
         DYNAMIC_CONFIG_ENABLED: "true"
   kafka-schema-registry:
     image: confluentinc/cp-schema-registry:7.5.0
     hostname: kafka-schema-registry
     container_name: kafka-schema-registry
     depends_on:
       - kafka-broker
     ports:
       - "8083:8081"
     environment:
       SCHEMA_REGISTRY_HOST_NAME: kafka-schema-registry
       SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka-broker:29092'
       SCHEMA_REGISTRY_LISTENERS: http://kafka-schema-registry:8081

   keycloak-db:
     container_name: keycloak-mysql
     image: mysql:8.3.0
     volumes:
       - ./volumes-data/mysql_keycloak_data:/var/lib/mysql
     environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: keycloak
        MYSQL_USER: keycloak
        MYSQL_PASSWORD: password

   keycloak:
     container_name: keycloak
     image: quay.io/keycloak/keycloak:24.0.1
     command: ["start-dev","--import-realm"]
     environment:
       KC_DB: mysql
       KC_DB_URL_HOST: keycloak-db
       KC_DB_URL_DATABASE: keycloak
       KC_DB_USERNAME: keycloak
       KC_DB_PASSWORD: password
       KEYCLOAK_ADMIN: admin
       KEYCLOAK_ADMIN_PASSWORD: admin
       KC_HEAP: "256m"
     ports:
       - "8091:8080"
     volumes:
       - ./docker/keycloak/realms/:/opt/keycloak/data/import/
     depends_on:
       - keycloak-db
     deploy:
       resources:
         limits:
           cpus: "0.75"
           memory: 768M


volumes:
  db-data:
